<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Round</title>
</head>
<body>
    <h1>Round Error</h1>

    <p>Entity1: {{ entity1 }}</p>
    <p>Entity2: {{ entity2 }}</p>
    <p>Entity3: {{ entity3 }}</p>
    <p>Quanto que é:</p>
    <p>{{ entity1 }} + {{ entity2 }} - {{ entity3 }} = ?</p>
    <p>Entity 1 float: {{ entity1Float }}</p>
    <p>Entity 2 float: {{ entity2Float }}</p>
    <p>Entity 3 float: {{ entity3Float }}</p>
    <p>Resultado (Twig): {{ entity1Float + entity2Float - entity3Float }}</p>
    <p>Resultado (back): {{ resultado }}</p>

</body>
</html>